<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body style="background-color: aquamarine">

<header th:replace="fragments/commons::header">
</header>
<div class="container col-sm-12">
    <div class="row">
        <div class="col-sm-4 offset-4" style="margin-top: 50px;">
            <h1 style="margin-bottom: 55px">Welcome to Spring Shop</h1>
            <a type="submit" style="margin-left: 125px" class="btn btn-primary" th:href="@{/products/all}">Explore our Products</a>
            <h3 style="margin-top: 25px; margin-left: 75px;">Or Choose Category: </h3>
        </div>
    </div>

    <div class="row" style="margin-top: 50px">
        <div class="card col-sm-2 offset-2" style="width: 18rem;">
            <img class="card-img-top" src="/images/categoryIndex/clothes.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Clothes</h5>
                <a th:href="@{/category/clothes}" class="btn btn-primary">Explore</a>
            </div>
        </div>
        <div class="card col-sm-2 offset-1" style="width: 18rem;">
            <img class="card-img-top" src="/images/categoryIndex/games.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">For gamers</h5>
                <a th:href="@{/category/games}" class="btn btn-primary">Explore</a>
            </div>
        </div>
        <div class="card col-sm-2 offset-1" style="width: 18rem;">
            <img class="card-img-top" src="/images/categoryIndex/home.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">For home</h5>
                <a th:href="@{/category/home}" class="btn btn-primary">Explore</a>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px; margin-bottom: 100px">
        <div class="card col-sm-2 offset-2" style="width: 18rem;">
            <img class="card-img-top" src="/images/categoryIndex/music.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Music</h5>
                <a th:href="@{/category/music}" class="btn btn-primary">Explore</a>
            </div>
        </div>
        <div class="card col-sm-2 offset-1" style="width: 18rem;">
            <img class="card-img-top" src="/images/categoryIndex/outside.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Outside</h5>
                <a th:href="@{/category/outside}" class="btn btn-primary">Explore</a>
            </div>
        </div>
        <div class="card col-sm-2 offset-1" style="width: 18rem;">
            <img class="card-img-top" src="/images/categoryIndex/sport.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sport</h5>
                <a th:href="@{/category/sport}" class="btn btn-primary">Explore</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
<style>
    .card{
        height: 350px;
    }
    img{
        height: 250px;
        width: 80px;
    }
</style>