<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body style="background-image: url('https://img.freepik.com/free-vector/white-gold-hexagon-pattern-background_53876-115292.jpg?w=2000');
background-size: cover">
<header th:replace="fragments/commons::header"></header>
<form th:action="@{/users/login}"
      th:method="POST">
    <div class="form-group">
        <label for="username">Въведете потребителско име</label>
        <input
               type="text" class="form-control"
               required minlength="3" maxlength="40"
               id="username"
               name="username"
               aria-describedby="emailHelp"
               placeholder="потребителско име..">
        <small id="usernameError"
               class="invalid-feedback bg-danger rounded">Дължината на потребителското име трябва да е между 3 и 40 символа</small>
        <label for="password">Въведете парола </label>
        <input
               required minlength="3" maxlength="40"
               class="form-control"
               id="password"
               type="password"
               name="password"
               aria-describedby="emailHelp"
               placeholder="парола..">
        <small id="passwordError"
               class="invalid-feedback bg-danger rounded">Дължината на паролата трябва да е между 3 и 40 символа</small>
    </div>
    <button id="submitButton" type="submit" class="btn btn-primary">Влез</button> или
    <a href="/users/register">Регистрирация</a>
</form>
    <footer th:replace="fragments/commons::footer"></footer>
</body>

</html>

<style>
    form {
        padding-top: 100px;
        margin-left: 600px;
        margin-right: 600px;
    }
    input {
        margin-bottom: 25px;
    }
</style>