<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body  style="background-image: url('https://img.freepik.com/free-vector/white-gold-hexagon-pattern-background_53876-115292.jpg?w=2000');
background-size: cover">
<header th:replace="fragments/commons::header"></header>
<form th:object="${productCreateBindingModel}"
      th:method="POST"
      th:action="@{/products/add}">
    <div class="container">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputEmail4">Име на продукта</label>
            <input name="name" th:field="*{name}"
                   required minlength="3" maxlength="40"
                   th:errorclass="'is-invalid bg-danger'"
                   type="text" class="form-control" id="inputEmail4" placeholder="име на продукта..">
            <small th:if="${#fields.hasErrors('name')}" id="errorName" class="bg-danger text-light rounded">
                Невалидно име, дължината трябва да бъде между 3 и 40 символа!
            </small>
        </div>
    </div>
    <div class="form-group">
        <label for="inputDescription">Описание</label>
        <textarea th:field="*{description}" rows="5" class="form-control" id="inputDescription" placeholder="описание..."></textarea>
        <small th:if="${#fields.hasErrors('description')}" id="errorDescription" class="bg-danger text-light rounded">
            Невалидно описание, дължината трябва да бъде между 3 и 40 символа!
        </small>
    </div>
        <div class="form-group">
            <label for="inputPrice">Цена</label>
            <input th:field="*{price}" class="form-control" id="inputPrice" placeholder="цена..."></input>
            <small th:if="${#fields.hasErrors('price')}" id="errorPrice" class="bg-danger text-light rounded">
                Невалидна цена, трябва да бъде по-голяма от 0
            </small>
        </div>
    <div class="form-group">
        <label for="category">Моля избери категорията за своя продукт</label>
        <select th:field="*{category}" th:errorclass="bg-danger" id="category" name="category" class="custom-select"
                aria-describedby="categoryHelpInline">
            <option value="" selected>Category</option>
            <option th:each="c : ${T(bg.springshop.springshop.model.entity.enums.CategoryEnum).values()}" th:value="${c}" th:text="${c}">Category</option>
        </select>
        <small th:if="${#fields.hasErrors('category')}" id="categoryHelpInline" class="bg-danger text-light rounded">
            Трябва да изберете категория.
        </small>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="image">Снимка</label>
            <input name="image" th:field="*{image}"
                   required minlength="3" maxlength="300"
                   th:errorclass="'is-invalid bg-danger'"
                   type="text" class="form-control" id="image" placeholder="Paste image url..">
            <small th:if="${#fields.hasErrors('image')}" id="imageError" class="bg-danger text-light rounded">
                Невалидна снимка, линкът трябва да бъде поне 3 символа дълъг!
            </small>
        </div>
    </div>
    <div class="offset-5">
        <button type="submit" class="btn btn-primary">Добави продукт</button>
    </div>
    </div>
</form>
<footer th:replace="fragments/commons::footer"></footer>
</body>

</html>

<style>
    body {
        background-color: aliceblue;
        margin-bottom:50px;
        overflow:auto;
        height: 100%;
    }
    div.container {
        margin-top: 75px;
        width:800px;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>
