<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head">
<body>
<header th:replace="fragments/commons::header"></header>
<div class="container" >
    <div class="card" th:object="${productToShow}">
        <div class="card-body">
            <h3 th:text="*{name}" class="card-title"></h3>
            <span>Added on: </span><span style="color: lightgray" th:text="*{#temporals.format(addedOn,'yyyy-MM-dd HH:mm')}"></span>
            <div> <span style="color: lightgray">Total visits</span> <span style="color: lightgray" th:text="*{viewCount}"></span></div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img th:src="*{image}" class="img-responsive"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Product description</h4>
                    <p th:text="*{description}"></p>
                    <p>Price: <span style="color: darkorange;" th:text="*{price}"></span> lv.</p>
                    <th:block sec:authorize="isAuthenticated()">
                        <button th:action="@{/cart/add/{id}(id = *{id})}" class="btn btn-primary btn-rounded">Add to Cart</button>
                        <div th:if="${isCreator}" style="margin-top: 30px">
                            <p>Owner actions: </p>
                            <a class="btn btn-warning" th:href="@{/products/edit/{id}(id = *{id})}">Edit</a>
                            <a class="btn btn-danger" th:href="@{/products/delete/{id}(id = *{id})}">Delete</a>
                        </div>
                        <div th:if="${isAdmin}" style="margin-top: 30px">
                            <p>Admin actions: </p>
                            <a class="btn btn-warning" th:href="@{/products/edit/{id}(id = *{id})}">Edit</a>
                            <a class="btn btn-danger" th:href="@{/products/delete/{id}(id = *{id})}">Delete</a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <div class="reviews">
        <div class="reviewTitle">
            <span style="color: black"><h1>Reviews: </h1></span>
        </div>
    </div>
</div>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
<style>
    .container {
        margin-bottom: 100px;
        margin-top: 50px;
    }
    .reviewTitle{
        margin-left: 500px;
    }
</style>