<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/commons::head"></head>-->
<head th:replace="fragments/commons::head">
<body  style="background-image: url('https://img.freepik.com/free-vector/white-gold-hexagon-pattern-background_53876-115292.jpg?w=2000');
background-size: cover">
<header th:replace="fragments/commons::header">
</header>
<form th:object="${userRegistrationBindingModel}" style="text-align: center"
        th:action="@{/users/register}"
        th:method="POST">
    <div class="form-group">
        <label for="inputEmail">Въведете имейл адрес</label>
        <input th:field="*{email}"
               required minlength="3" maxlength="40"
               type="email" class="form-control"
               id="inputEmail"
               aria-describedby="emailHelp">
        <small id="usernameError"
               class="invalid-feedback bg-danger rounded">Дължината на потребителското име трябва да бъде поне 3 символа</small>
        <div th:if="${doesEmailExists}" class="alert alert-danger" role="alert">
            Потребител вече съществува с такъв имейл!
        </div>
        <label for="usernameInput">Въведете потребителско име </label>
        <input th:field="*{username}"
               required minlength="3" maxlength="40"
               class="form-control"
               id="usernameInput"
               aria-describedby="emailHelp">
        <div th:if="${usernameExists}" class="alert alert-danger" role="alert">
            Това потребителско име вече съществува!
        </div>
        <label for="usernameInput">Въведете nickname </label>
        <input th:field="*{nickname}"
               required minlength="3" maxlength="40"
               class="form-control"
               id="nickname"
               aria-describedby="emailHelp">
        <label for="passwordInput">Въведете паролата </label>
        <input th:field="*{password}"
               required minlength="3" maxlength="40"
               type="password"
               class="form-control"
               id="passwordInput"
               aria-describedby="emailHelp">
        <label for="ConfirmPasswordInput">Потвърдете паролата</label>
        <input th:field="*{confirmPassword}"
               required minlength="3" maxlength="40"
               type="password"
               class="form-control"
               id="ConfirmPasswordInput"
               aria-describedby="emailHelp">
    </div>
    <button id="submitButton" type="submit" class="btn btn-primary">Въведете</button>
    <p style="margin-bottom: 0">или</p>
    <a th:href="@{/users/login}">Влезте в системата</a>
</form>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>

<style>
    form {
        padding-top: 100px;
        margin-left: 600px;
        margin-right: 600px;
    }
    input {
        padding-bottom: 20px;
    }
    label {
        font-size: 22px;
    }
</style>